
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap');


body{
    height:100%;
    padding:0;
    margin:0;
    border:0; 
    background-image: url("assets/banana.jpg");
    background-repeat: no-repeat, repeat;
    }

h1 {
    background-color: #FFD300;
    color:black;
    text-align: center;
    padding:20px;
    margin: auto;
    display: block;
    font-size: 42px;
    font-family: 'Kaushan Script', cursive;
}

#text-area{
    margin: 30px auto;
    display:block;
    border:5px solid;
    padding:30px;
    width:50%;
    height: 130px;
    font-size: 25px;
}

.btn-main {
    margin:30px auto;
    display:block;
    width: 250px;
    height:50px;
    font-size: 20px;
    background-color: #FDA50F;
    border: none;
    font-family: 'Courgette', cursive;
    font-weight:500;
    border-radius: 20px;
}

h2{
    text-align: center;
}

.output-area {
    border: 5px solid;
    margin:auto;
    display:block;
    width:400px;
    height:100px;
    padding:30px;
    background-color: white;
    overflow: scroll;
    font-size: 25px;
}

footer {
    background-color: #FDA50F;
    margin: 30px auto;
    padding: 5px;
    margin-bottom: 0px;
    display: block;
    font-family: 'Courgette', cursive;
}

footer h3 {
    text-align: center;
    font-size: 30px;
}

footer div {
    text-align: center;
    font-size:20px;
    width:65%;
    margin:auto;
    margin-top: 0px;
}






